.center-form {
    width: 500px;
    height: auto;
    border: 1px solid #2F5597;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-input {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.title-form {
    color: #516482;
    font-size: 15px;
    margin: 20px 0;
    font-weight: bold;
}

.input-form {
    border: 1px solid #000;
    border-radius: 5px;
    width: 60%;
    padding: 6px;
    height: 30px;
    font-size: 13px;
}

.asterisk {
    color: red;
}

.row-input {
    display: flex;
    margin: 5px 0;
}

.row-input label {
    width: 40%;
    margin: 0;
    line-height: 30px;
    font-size: 13px;
    text-align: left;
}

.row-input select {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: #4472C4;
    color: #fff;
    text-align-last:center;
    font-size: 13px;
}

.txt-infor {
    font-size: 13px;
    width: 60%;
    font-size: 12px;
    text-align: left;
    margin: 0;
}

.error-mess {
    font-size: 11px;
    color: red;
}

.error-mess p {
    margin: 0;
}

.btn-submit {
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    background-color: #4472C4;
    padding: 7px 20px;
    margin: 15px 0;
}

.line-center p{
    margin: 10px 0;
}

.guarantee-info p{
    font-size: 13px;
    margin: 0;
    text-align: left;
}
